<div class="container">
  <div class="mb-3" fxLayout="row" fxLayoutAlign="space-around center">
    <h2>Información Básica</h2>
  </div>
  <div class="mb-3" fxLayout="row" fxLayoutAlign="space-around center">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Primer Apellido</label
    >
    <br />
    <input type="text" value="Perez" disabled="true" />
  </div>
  <div class="mb-3" fxLayout="row" fxLayoutAlign="space-around center">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Primer Nombre</label
    >
    <br />
    <input type="text" value="Jhonny" disabled="true" />
  </div>
</div>
